.authors-preview{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;
}
.page-title {
  font-family: "Imperial Script", cursive;
  font-size: 28px;
}

.authors-table {
  max-width: 1200px;
  display: flex;
  justify-content: center;
  width: 100%;

  table {
    width: 100%;
    border-collapse: collapse;
    padding: 20px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

    tr:nth-child(even) {
      background-color: white;
    }

    thead {
      box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
      background-color: white;
    }

    tr {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
      padding: 20px;

      th {
        text-align: left;
      }

      #author-name {
        font-family: "Quintessential", serif;
      }
    }
  }
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  padding: 10px;
}

.pagination button {
  padding: 8px 16px;
  border: none;
  background-color:#f2cd5c;
  cursor: pointer;
  border-radius: 4px;
  transition: all 0.3s;
}

.pagination button:hover:not(:disabled) {
  background-color: #ffcc00;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.pagination span {
  font-weight: 500;
}