.book-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;

  .book-hero {
    font-family: "Imperial Script", cursive;
    font-size: 28px;
  }

  .books-table {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      padding: 20px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      tr:nth-child(even) {
        background-color: white;
      }

      thead {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
        background-color: white;
      }
      tr {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 20px;

        th {
          text-align: left;
        }

        #book-name {
          font-family: "Quintessential", serif;
        }
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 6px;
        width: 80px;
        cursor: pointer;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 300ms;

        &:hover {
          scale: 1.05;
        }
      }

      #editBtn {
        background-color: #f2cd5c;

        &:hover {
          background-color: #ffcc00;
        }
      }

      #deleteBtn {
        background-color: #8d0b41;
        color: white;

        &:hover {
          background-color: #dc2525;
        }
      }
    }
  }

  .book-form {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;

    form {
      width: 100%;
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 20px;

      .input-field {
        display: flex;
        flex-direction: column;
        gap: 10px;
        input,
        select {
          padding: 5px;
          border: none;
          border-bottom: 2px solid #b6b6b6;
          background-color: transparent;

          &:focus {
            outline: none;
            border-color: #f2cd5c;
          }
        }

        label {
          font-weight: bold;
          color: #666;
          &:focus {
            color: #f2cd5c;
          }
        }

        .error-message {
          color: #dc2525;
          font-family: "Quintessential", serif;
        }
      }

      .btnSbmt {
        grid-column: 1 / -1;
        display: flex;
        justify-content: flex-end;
      }

      button {
        padding: 10px;
        background-color: transparent;
        color: #666;
        font-weight: bold;
        border: 2px solid #666;
        border-radius: 6px;
        font-size: 16px;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 300ms;

        &:hover {
          scale: 1.05;
        }
      }
    }
  }

  .books-filters{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    .filter-item{
      display: flex;
      gap: 10px;
      padding: 10px 0;
      input, select {
        padding: 4px;
        background: transparent;
        border: 2px solid #8d0b41;
        border-radius: 6px;
      }
    }
    button {
      padding: 4px;
      background-color: transparent;
      color: #666;
      font-weight: bold;
      border: 2px solid #666;
      border-radius: 6px;
      font-size: 14px;
      cursor: pointer;
      box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
      transition: all 300ms;

      &:hover {
        scale: 1.05;
      }
    }
  }

  .books-controls{
    display: flex;
    max-width: 1200px;
    width: 100%;
    align-items: center;
    justify-content: end;
    gap: 10px;

    select{
      padding: 5px;
      border: none;
      border-radius: 5px;
      box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 4px;
    }
  }
}
