.book-page {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;

  .book-hero {
    font-family: "Imperial Script", cursive;
    font-size: 28px;
  }

  .books-table {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px;

    table {
      width: 100%;
      border-collapse: collapse;
      padding: 20px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      tr:nth-child(even) {
        background-color: white;
      }

      thead {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
        background-color: white;
      }
      tr {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 20px;
        padding: 20px;

        th {
          text-align: left;
        }

        #book-name {
          font-family: "Quintessential", serif;
        }
      }

      button {
        padding: 10px;
        border: none;
        border-radius: 6px;
        width: 80px;
        cursor: pointer;
        font-weight: bold;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        transition: all 300ms;

        &:hover {
          scale: 1.05;
        }
      }

      #editBtn {
        background-color: #f2cd5c;

        &:hover {
          background-color: #ffcc00;
        }
      }

      #deleteBtn {
        background-color: #8d0b41;
        color: white;

        &:hover {
          background-color: #dc2525;
        }
      }
    }
  }
}
