/* Header Styles */
.header {
  background: transparent;
  color: #333;
  padding: 1rem;
}

.header-content {
  max-width: 1200px;
  gap: 5px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.logo {
  font-family: "Imperial Script", cursive;
  font-size: 40px;
  font-weight: bold;

  a {
    color: #8d0b41;
    text-decoration: none;
  }
}

.nav {
  display: flex;
  gap: 2rem;
  padding: 10px 0px;
}

.nav a {
  color: #333;
  text-decoration: none;
  transition: all 0.2s;
  font-family: "Quintessential", serif;
  font-size: 20px;
}

.nav a:hover {
  color: #8d0b41;
  opacity: 0.8;
}

/* Welcome Styles */
.welcome {
  flex: 1;
  padding: 1rem;
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.welcome-bookstore {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.bookstore-card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 12px;
  padding: 2rem;
  text-align: center;
  transition: transform 0.3s;
}

.bookstore-image {
  max-height: 200px;
  img {
    max-width: 200px;
  }
}

.bookstore-card h2 {
  font-family: "Imperial Script", cursive;
  font-size: 40px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.bookstore-card p {
  color: #666;
}

.bookstore-text {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    font-family: "Quintessential", serif;
    font-size: 18px;
  }
  a {
    color: #8d0b41;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
  }
}

/* Footer Styles */
.footer {
  background: #561530;
  color: white;
  padding: 20px;
  text-align: center;
}

.footer-content {
  max-width: 1200px;
  margin: 0 auto;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 10px;
  align-items: center;
  a {
    text-decoration: none;
    color: white;
  }
}
