.publishers-list {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex: 1;

  .publishers-hero {
    font-family: "Imperial Script", cursive;
    font-size: 28px;
  }

  .publishers-table {
    max-width: 1200px;
    display: flex;
    justify-content: center;
    width: 100%;

    table {
      width: 100%;
      border-collapse: collapse;
      padding: 20px;
      background-color: whitesmoke;
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      tr:nth-child(even) {
        background-color: white;
      }

      thead {
        box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 2px;
        background-color: white;
      }
      tr {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding: 20px;

        th {
          text-align: left;
        }

        #publisher-name {
          font-family: "Quintessential", serif;
        }
      }

      a {
        text-decoration: none;
        color: #8d0b41;
        transition: 300ms;
        &:hover {
          color: #561530;
        }
      }
    }
  }
}
